/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f7fb;
    color: #333;
}

/* Links */

a {
    text-decoration: none;
}

/* Buttons */

button {
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

/* Inputs */

input,
select,
textarea {
    outline: none;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 15px;
}